body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
}

header {
    background-color: #81d8e6;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.file-upload-section,
.uploaded-files-section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.drag-and-drop-area {
    border: 2px dashed #aaaaaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

button {
    margin-top: 10px;
    background-color: #2eaadb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bb5;
}
.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2eaadb;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.logout-button:hover {
    background-color: #1c7aad;
}


