body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    margin: 0;
}

header {
    background-color: #81d8e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px; 
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 20px;
}

.registration-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.success-message {
    margin-top: 20px;
    color: #008000; 
}

.button {
    background-color: #2eaadb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
  }